/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  color: #111;
  background-color: #fdfdfd; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/* Subtitle class - can be reused for section headers */
.subtitle {
  font-size: 35px;
  font-family: Great Vibes, cursive;
  font-weight: 400;
  text-align: center;
  color: #D3CB8C;
  padding-top: 20px; }

/**
 * Site header
 */
.site-header {
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 650px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #F9B550;
      border: 1px solid #F9B550;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #fff; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: none;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Body
 */
.allbody {
  overflow-x: hidden;
  position: relative;
  right: 0px; }

.allbody-open {
  right: 271px;
  overflow-y: hidden; }

.allbody-open .side-menu {
  right: 0px !important; }

.side-menu, .allbody-open {
  -webkit-transition: right 0.35s ease;
  -moz-transition: right 0.35s ease;
  transition: right 0.35s ease; }

/**
 * Site footer
 */
.site-footer {
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 650px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin: 50px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/**
 * Site header
 */
.site-header {
  background-color: #e7e7e7;
  font-family: Geneva, sans-serif;
  font-weight: bold;
  position: fixed;
  z-index: 9999;
  width: 100%; }
  .site-header .site-title {
    height: 40px;
    padding-top: 8px; }
  .site-header #nav {
    margin: 0; }
    .site-header #nav .fixed-top-menu {
      list-style: none;
      display: inline-block;
      width: 80px;
      text-align: center; }
      .site-header #nav .fixed-top-menu a {
        color: #424242;
        padding: 20px 15px; }
        .site-header #nav .fixed-top-menu a:hover {
          color: white;
          text-decoration: none;
          background-color: #A31640; }
      .site-header #nav .fixed-top-menu .active {
        color: white;
        text-decoration: none;
        background-color: #DA6A4E; }
        .site-header #nav .fixed-top-menu .active:hover {
          background-color: #DA6A4E; }
  .site-header .side-menu {
    background-image: linear-gradient(#24282b, #000);
    border-left: 1px solid #000;
    position: fixed;
    top: 0;
    right: -271px;
    width: 250px;
    height: 100%;
    padding: 10px;
    list-style: none;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300; }
    .site-header .side-menu li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      text-align: center;
      padding: 20px 0px; }
      .site-header .side-menu li a {
        text-decoration: none;
        color: #fff; }
        .site-header .side-menu li a:hover {
          color: #D3CB8C; }

#hero {
  height: 700px;
  background: url(../img/burgundy_leather_small.jpg) center center;
  background-size: cover;
  border-bottom: 1px solid #808080;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  padding: 30px 0px; }
  #hero h1 {
    font-size: 70px;
    font-family: Great Vibes, cursive;
    font-weight: 400;
    color: #D3CB8C;
    line-height: 100px;
    text-align: center;
    padding-top: 250px; }
    #hero h1 span {
      display: inline-block;
      padding: 0.5em;
      border: #D3CB8C solid 8px; }
  @media screen and (max-width: 650px) {
    #hero h1 {
      font-size: 50px; }
      #hero h1 span {
        border-width: 4px;
        padding: 20px;
        margin: 0px 20px; } }
  #hero .subtitle {
    font-size: 35px;
    font-family: Great Vibes, cursive;
    font-weight: 400;
    text-align: center;
    color: #D3CB8C;
    padding-top: 20px; }

#about {
  position: relative;
  z-index: -1;
  padding: 50px 0px;
  background: -webkit-linear-gradient(rgba(0, 58, 91, 0.05), rgba(0, 58, 91, 0.1));
  background: linear-gradient(rgba(0, 58, 91, 0.05), rgba(0, 58, 91, 0.1)); }

.preface {
  max-width: 740px;
  margin: 50px auto;
  position: relative;
  border-radius: 50px;
  background: -webkit-linear-gradient(rgba(255, 244, 193, 0.7), rgba(255, 202, 5, 0.5));
  background: linear-gradient(rgba(255, 244, 193, 0.7), rgba(255, 202, 5, 0.5));
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  overflow: hidden; }
  .preface:before {
    content: "";
    z-index: 0;
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -2px;
    right: -2px;
    background-size: 6px 6px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 12.5%, transparent 12.5%, transparent 37.5%, rgba(255, 255, 255, 0.2) 37.5%, rgba(255, 255, 255, 0.2) 62.5%, transparent 62.5%, transparent 87.5%, rgba(255, 255, 255, 0.2) 87.5%); }
  @media screen and (max-width: 760px) {
    .preface {
      margin-left: 15px;
      margin-right: 15px; } }

#author {
  color: #A31640;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 30px auto 60px auto;
  padding-top: 50px;
  font-size: 50px;
  position: relative;
  z-index: 2; }

.blurb {
  max-width: 620px;
  margin: 50px auto 10px auto;
  padding: 0 15px;
  text-align: justify;
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px; }
  .blurb p {
    color: #d01c52;
    position: relative;
    z-index: 2;
    font-style: italic; }

h3 {
  font-family: Great Cursive;
  font-size: 25px;
  font-style: italic;
  color: #A31640;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 2; }

.skills {
  max-width: 700px;
  margin: 30px auto;
  color: #999;
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 2; }
  .skills::after {
    clear: both;
    content: "";
    display: table; }
  .skills .skill-unit {
    width: 350px;
    float: left; }
    .skills .skill-unit .skill-label {
      color: #A31640;
      text-decoration: underline; }
    .skills .skill-unit .skill-icons {
      margin-top: 10px;
      margin-bottom: 30px; }
      .skills .skill-unit .skill-icons span {
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: #ec7070;
        margin-right: 5px;
        border-radius: 50%; }
      .skills .skill-unit .skill-icons:after {
        content: ""; }

.skills .skill-unit .skill-icons.skill-1 span:nth-child(n+2), .skills .skill-unit .skill-icons.skill-2 span:nth-child(n+3), .skills .skill-unit .skill-icons.skill-3 span:nth-child(n+4), .skills .skill-unit .skill-icons.skill-4 span:nth-child(n+5), .skills .skill-unit .skill-icons.skill-5 span:nth-child(n+6), .skills .skill-unit .skill-icons.skill-6 span:nth-child(n+7), .skills .skill-unit .skill-icons.skill-7 span:nth-child(n+8), .skills .skill-unit .skill-icons.skill-8 span:nth-child(n+9), .skills .skill-unit .skill-icons.skill-9 span:nth-child(n+10), .skills .skill-unit .skill-icons.skill-10 span:nth-child(n+11) {
  background: #fff; }

@media screen and (max-width: 750px) {
  .skills {
    width: 500px; }
    .skills .skill-unit {
      float: none;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      margin: 0 auto; } }
@media screen and (max-width: 550px) {
  .skills {
    width: 350px; } }
#post-list {
  min-height: 100%;
  padding: 50px 0px; }
  #post-list .post-container {
    max-width: 1200px;
    margin: 30px auto;
    background: white;
    border-radius: 25px;
    padding: 0px 30px 60px 30px;
    background: -webkit-linear-gradient(rgba(0, 58, 91, 0.05), rgba(0, 58, 91, 0.02));
    background: linear-gradient(rgba(0, 58, 91, 0.05), rgba(0, 58, 91, 0.02));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #eaeaea; }
    #post-list .post-container .post-unit {
      display: inline-block;
      max-width: 90%;
      border: 1px solid white;
      border-radius: 8px;
      overflow: hidden;
      margin: 11px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1); }
      #post-list .post-container .post-unit a {
        text-align: center;
        text-decoration: none; }
        #post-list .post-container .post-unit a figure {
          margin-bottom: 0;
          background: #e8e8e8;
          position: relative;
          z-index: 3; }
          #post-list .post-container .post-unit a figure:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border: none;
            z-index: 5;
            background: #fff;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
            left: 0px;
            bottom: -5px; }
          #post-list .post-container .post-unit a figure img {
            overflow: hidden;
            background-size: cover; }
        #post-list .post-container .post-unit a .posts-title {
          display: block;
          background: -webkit-linear-gradient(-270deg, #f3f3f3, rgba(170, 170, 170, 0.45));
          background: linear-gradient(0deg, #f3f3f3, rgba(170, 170, 170, 0.45));
          margin-bottom: 0;
          border-top: 3px solid white;
          vertical-align: middle;
          text-align: center;
          padding: 26px 0px 20px 0px;
          color: #A31640;
          font-size: 18px;
          font-family: Roboto;
          font-weight: 300; }
          #post-list .post-container .post-unit a .posts-title:hover {
            color: #fbf05d;
            background: #A31640; }
  @media screen and (max-width: 1300px) {
    #post-list .post-container {
      max-width: 800px; } }
  @media (min-width: 500px) and (max-width: 900px) {
    #post-list .post-container {
      max-width: 700px; }
      #post-list .post-container .post-unit {
        width: 43%; } }
  @media (min-width: 901px) {
    #post-list .post-unit {
      width: 30%; } }

footer {
  background: #212121;
  border-top: 2px solid #E84D55;
  padding-bottom: 35px; }
  footer .footers {
    border-top: 1px solid #E8D2B4; }
    footer .footers .footer-content {
      display: inline-block;
      width: 100%;
      padding-top: 25px; }
      footer .footers .footer-content .footer-heading {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        color: #E8D2B4;
        float: left;
        margin: 19px 0px 19px 0px; }
      footer .footers .footer-content .footer-icon {
        float: right;
        margin: 9px 0px 10px 0px; }

.animation-target {
  -webkit-animation: animation 1500ms linear infinite both;
  animation: animation 1500ms linear infinite both; }

/* Generated with Bounce.js. Edit at http://goo.gl/y1t2KO */
@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.33% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.2% {
    -webkit-transform: matrix3d(-0.996, -0.09, 0, 0, 0.09, -0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.996, -0.09, 0, 0, 0.09, -0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.07% {
    -webkit-transform: matrix3d(0.723, -0.691, 0, 0, 0.691, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.723, -0.691, 0, 0, 0.691, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.94% {
    -webkit-transform: matrix3d(0.947, 0.323, 0, 0, -0.323, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.947, 0.323, 0, 0, -0.323, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.81% {
    -webkit-transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.22% {
    -webkit-transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.63% {
    -webkit-transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  74.44% {
    -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.32% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.33% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.2% {
    -webkit-transform: matrix3d(-0.996, -0.09, 0, 0, 0.09, -0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.996, -0.09, 0, 0, 0.09, -0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.07% {
    -webkit-transform: matrix3d(0.723, -0.691, 0, 0, 0.691, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.723, -0.691, 0, 0, 0.691, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.94% {
    -webkit-transform: matrix3d(0.947, 0.323, 0, 0, -0.323, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.947, 0.323, 0, 0, -0.323, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.81% {
    -webkit-transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.22% {
    -webkit-transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.63% {
    -webkit-transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  74.44% {
    -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.32% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
